<form>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioTipo" [(ngModel)]="tipo">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="COMPRA"> Compra
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="VENDA"> Venda
        </label>
    </div>
    <label for="termo">Procurar ação/empresa</label>
    <input id="termo"  class="form-control" type="search" name="termo"  placeholder="Procurar ação/empresa" [(ngModel)]="termo" />
</form>
