<section>
    <h2>Painel de administração</h2>
    <a class="btn btn-info" [routerLink]="['/painel/cadastro-boleta']" routerLinkActive="router-link-active"  role="button">Adicionar boleta</a>
    <table *ngIf="boletasAgrupadas != null && boletasAgrupadas.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Selecionar</th>
                <th scope="col">Código de Negociação</th>
                <th scope="col">Qtde. atual investida</th>
                <th scope="col">Lucro/Prejuízo Compras/Vendas</th>
                <th scope="col">% Lucro/Prejuízo Compras/Vendas</th>
                
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let boleta of boletasAgrupadas">
                <td>
                    <input type="radio" aria-label="Selecionar código de negociação" [value]="boleta.id">
                </td>
                <td>{{ boleta.codigoNegociacaoPapel }}</td>
                <td>{{ boleta.quantidadeTotal() }}</td>
                <td>{{ boleta.rentabilidadeComprasVendas() | currency:'BRL':'symbol':'2.2':'pt-BR' }}</td>
                <td>{{ boleta.percentualRentabilidadeComprasVendas() | percent:'2.2':'pt-BR' }}</td>                
            </tr>            
        </tbody>
    </table>
</section>
