<form class="container" [formGroup]="loginForm" (ngSubmit)="autenticar()">
    <input type="email" class="form-control" placeholder="email" formControlName="email" (keyup)="notificadorService.removerAlerta()" />
    <input type="password" class="form-control" placeholder="senha" formControlName="senha" (keyup)="notificadorService.removerAlerta()" />
    <button type="submit" class="btn" [disabled]="!loginForm.valid"
        [ngClass]="{'btn-success': loginForm.valid, 'btn-outline-success': !loginForm.valid}">Login</button>
    <a [routerLink]="['/cadastro']" routerLinkActive="router-link-active">Não se cadastrou? Clique aqui!</a>
</form>
