<form class="container" [formGroup]="usuarioForm" (ngSubmit)="cadastrar()" *ngIf="!cadastroRealizado">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" class="form-control" placeholder="Fulano..." formControlName="nome" />

    <label for="email">Email:</label>
    <input id="email" type="email" class="form-control" placeholder="mail@domain.com" formControlName="email" />    

    <label for="senha">Senha</label>
    <input id="senha" type="password" class="form-control" placeholder="Senha de 4 a 30 digitos" formControlName="senha" />    

    <label for="confirmasenha">Confirme a senha</label>
    <input id="confirmasenha" type="password" class="form-control" placeholder="Mesma que a anterior" formControlName="confirmaSenha" />
    
    <button type="submit" class="btn" [disabled]="!usuarioForm.valid"
        [ngClass]="{'btn-success': usuarioForm.valid, 'btn-outline-success': !usuarioForm.valid}">Cadastrar</button> 
</form>
<a *ngIf="cadastroRealizado" [routerLink]="['/login']" routerLinkActive="router-link-active">Acesse o sistema</a>